<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet"href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/bootstrap-responsive.css">

    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
  <div class="masthead">
    <h3 class="muted">Node Authentication Demo</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li>
            <li><a href="https://github.com/jnyryan/node-authentication-demo/archive/master.zip"><i class="fa fa-download"></i>&nbsp;Download</a></li>
            <li><a target="new" href="https://github.com/jnyryan/node-authentication-demo"><i class="fa fa-code"></i>&nbsp;Source Code</a></li>
            <li><a target="new" href="http://github.com/jnyryan"><i class="fa fa-github"></i>&nbsp;Git Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar -->
  </div>
