<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet"href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/bootstrap-responsive.css">

    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
  <div class="masthead">
    <h3 class="muted">Node Authentication Demo</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li>
            <li><a href="https://github.com/jnyryan/node-authentication-demo/archive/master.zip"><i class="fa fa-download"></i>&nbsp;Download</a></li>
            <li><a target="new" href="https://github.com/jnyryan/node-authentication-demo"><i class="fa fa-code"></i>&nbsp;Source Code</a></li>
            <li><a target="new" href="http://github.com/jnyryan"><i class="fa fa-github"></i>&nbsp;Git Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar -->
  </div>
    <div class="jumbotron text-center">
        
        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

</div>
</body>
